- when: ansible_pkg_mgr == "apt" and "WSL" not in ansible_kernel
  block:
    - name: Get repo key
      ansible.builtin.apt_key:
        url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
        state: present
      become: yes

    - name: Add kubectl repo
      ansible.builtin.apt_repository:
        repo: "deb http://apt.kubernetes.io/ kubernetes-xenial main"
        filename: kubernetes
        state: present
      become: yes

    - name: Install kubectl
      ansible.builtin.apt:
        name: kubectl
        update_cache: yes
      become: yes

- name: Install kubectl
  ansible.builtin.pacman:
    name:
      - kubectl
      - fzf
    state: present
  when: ansible_pkg_mgr == "pacman"


- name: Create .kube dir
  ansible.builtin.file:
    path: "{{ lookup('env', 'HOME') }}/.kube/"
    owner: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('pipe', 'id -n -g') }}"
    state: directory

- name: Copy kubectl config
  ansible.builtin.template:
    dest: "{{ lookup('env', 'HOME') }}/.kube/config"
    src: config.j2
    owner: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('pipe', 'id -n -g') }}"
  when: create_kubeconfig | default(false)

- name: Create kubectx dir
  ansible.builtin.file:
    path: "/opt/kubectx/"
    owner: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('pipe', 'id -n -g') }}"
    state: directory
  become: yes

- name: Download kubectx packages
  ansible.builtin.git:
    repo: git@github.com:ahmetb/kubectx.git
    dest: /opt/kubectx
#  become: yes

- name: Create simlinks
  ansible.builtin.file:
    src: "/opt/kubectx/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    state: link
  loop:
    - kubectx
    - kubens
  become: yes

- name: Create completion dir
  ansible.builtin.file:
    path: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/completions"
    state: directory
    mode: '0755'

- name: Config autocomplete
  ansible.builtin.file:
    src: "/opt/kubectx/completion/{{ item }}.zsh"
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/completions/{{ item }}"
    state: link
  loop:
    - _kubectx
    - _kubens
