[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=robo3t
Icon=/opt/{{ robo3t_path }}/robo3t.png
Path=/opt/{{ robo3t_path }}
Exec=/opt/{{ robo3t_path }}/bin/robo3t
StartupNotify=false
StartupWMClass=robo3t
X-UnityGenerated=true