---
- when: ansible_pkg_mgr == "apt"
  block:
    - name: Add repo
      ansible.builtin.apt:
        deb: https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb
      become: yes

    - name: Install powershell
      ansible.builtin.apt:
        name: powershell
        state: present
      become: yes

    - name: Install teams
      ansible.builtin.apt:
        deb: https://go.microsoft.com/fwlink/p/?LinkID=2112886&culture=en-us&country=WW
      become: yes
