---
- name: Get current keyboart layout
  ansible.builtin.shell: set -o pipefail && setxkbmap -query | grep layout | awk 'NF>1{print $NF}'
  register: kb_layout

- name: Get current keyboart variant
  ansible.builtin.shell: set -o pipefail && setxkbmap -query | grep variant | awk 'NF>1{print $NF}'
  register: kb_variant


- name: Create fixkeyboard script
  ansible.builtin.template:
    dest: /usr/local/bin/fixkeyboard.sh
    src: fixkeyboard.sh
    mode: 0755
  become: yes

- name: Create fixkeyboard.desktop
  ansible.builtin.template:
    dest: /usr/share/applications/fixkeyboard.desktop
    src: fixkeyboard.desktop.j2
    mode: 0755
  become: yes

- name: Autostart fixkeyboard
  ansible.builtin.template:
    dest: "{{ lookup('env', 'HOME') }}/.config/autostart/fixkeyboard.desktop"
    src: fixkeyboard.desktop.j2
    mode: 0755
  become: no

# - name: create fixkeyboard.service
#   template:
#       dest: /etc/systemd/system/fixkeyboard.service
#       src: fixkeyboard.service.j2
#       mode: 0755
#   become: yes

# - name: enable fixkeyboard.service
#   systemd:
#       name: fixkeyboard.service
#       daemon_reload: yes
#       enabled: yes
#   become: yes

