[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=fixkeyboard
Icon=/usr/share/icons/deepin/devices/64/input-keyboard.svg
Exec=/usr/local/bin/fixkeyboard.sh
StartupNotify=false
StartupWMClass=fixkeyboard
X-UnityGenerated=true
