[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Apache Directory Studio
Icon=/opt/ApacheDirectoryStudio/icon.xpm
Path=/opt/ApacheDirectoryStudio
Exec=/opt/ApacheDirectoryStudio/ApacheDirectoryStudio
StartupNotify=false
StartupWMClass=ApacheDirectoryStudio
X-UnityGenerated=true
